.container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 0 80px 0;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    height: 487px;
    display: flex;
    justify-content: space-between;
}


.textBlock {
    width: 35%;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-between;
}

.title {
    font-family: 'Akrobat-Bold';
    font-size: 106px;
    color: #424242;
    text-transform: uppercase;
}

.description {
    font-family: 'Akrobat-Regular';
    font-size: 24px;
    color: #777777;
}

.location {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Akrobat-Regular';
    font-size: 24px;
    color: #777777;
    align-items: center;
}

.locationVector {
    margin: 0 10px 0 0 ;
}

.button {
    width: fit-content;
    font-family: 'Akrobat-Bold';
    padding: 5px 35px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    background: #7D241E;
    color: #FFFFFF;
    border-radius: 5px;
    outline: none;
    border:none;
    cursor: pointer;
}

.extraText {
    font-family: 'Akrobat-SemiBold';
    font-size: 24px;
    color: #000000;
    text-align: right;
    text-transform: uppercase;
    text-align: left;
}

.cardRevers {
    width: 100%;
    height: 462px;
    display: flex;
    justify-content: space-between;

    .textBlock {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95%;
        text-align: right;
    }

    .title {
        font-family: 'Akrobat-Bold';
        font-size: 106px;
        color: #424242;
        text-transform: uppercase;
    }

  .description {
        font-family: 'Akrobat-Regular';
        font-size: 24px;
        color: #777777;
    }

 
    
    .extraText {
        font-family: 'Akrobat-SemiBold';
        font-size: 24px;
        color: #000000;
        text-transform: uppercase;
        text-align: right;
    }
}


@media screen and (max-width: 1199px) {
    
    .title {
        height: 35%;
        font-size: 60px;
    }

    .imgBlock {
        width: 60%;
    }

    .textBlock {
        width: 40%;
    }

    .descriptionBlock {
        height: 65%;
        font-size: 20px;
    }

    .card {
        height: 375px;
    }

    .title {
        font-size: 70px;
    }
}